.bg__header {
  margin-top: 1rem;
  text-align: center;
  font-size: var(--size-7xl);
  font-weight: 500;
  color: var(--clr-light);
  -webkit-text-stroke: 2px var(--clr-dark);
  text-shadow: -3px 5px 1px var(--clr-dark), -5px 5px 1px var(--clr-dark);
}

.bg__btn1,
.bg__btn2,
.bg__random-btn {
  -webkit-text-stroke: 0;
  font-weight: 500;
  font-size: var(--size-lg);
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: var(--size-5xl);
  width: 14rem;
  border-radius: 10px;
  box-shadow: -4px 4px var(--clr-dark);
}

.bg__form {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg__input1,
.bg__input2 {
  display: none;
  padding: 0;
  border: none;
  margin: 1rem;
  border-radius: 5px;
  width: var(--size-9xl);
  height: var(--size-4xl);
}

.bg__input1::-webkit-color-swatch-wrapper,
.bg__input2::-webkit-color-swatch-wrapper {
  padding: 0;
}

.bg__input1::-webkit-color-swatch,
.bg__input2::-webkit-color-swatch {
  border: 2px solid black;
  border-radius: 5px;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .bg__header {
    font-size: var(--size-8xl);
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
